.evalockFillIcon {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.guaranteedRent,
.weDoThe {
  width: 225px;
  position: relative;
  line-height: 32px;
  display: inline-block;
}
.weDoThe {
  font-size: var(--desktop-text-regular-size);
  line-height: 20px;
}
.div {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-xl) var(--padding-13xl)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 229px;
  max-width: 305px;
  text-align: left;
  font-size: var(--desktop-h4-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 450px) {
  .guaranteedRent {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
}
