.logoIcon {
  height: 58px;
  width: 130px;
  position: relative;
  object-fit: cover;
}
.blog,
.contacts,
.home,
.landloards {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 48px;
  cursor: pointer;
}
.blog,
.contacts,
.landloards {
  min-width: 88px;
}
.blog,
.contacts {
  min-width: 36px;
}
.contacts {
  min-width: 72px;
}
.menu2 {
  margin: 0;
  width: 361px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-20xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
.menu,
.menu1,
.menu2 {
  display: flex;
  max-width: 100%;
}
.menu1 {
  width: 1300px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.menu {
  align-self: stretch;
  background-color: var(--white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-smi-5) var(--padding-41xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
}
.earnMoreFrom,
.findOutIf {
  position: relative;
  font-family: var(--desktop-text-regular);
  color: var(--text);
  text-align: center;
}
.earnMoreFrom {
  margin: 0;
  width: 628px;
  font-size: var(--desktop-h1-size);
  line-height: 60px;
  font-weight: 700;
  display: inline-block;
  max-width: 100%;
}
.findOutIf {
  align-self: stretch;
  font-size: var(--font-size-lg);
  line-height: 24px;
}
.titledescription {
  width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 112%;
  flex-shrink: 0;
}
.input1Big,
.input1Big1,
.input1Big2 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 52px;
  font-family: var(--font-avertacy-regular);
  font-size: var(--desktop-text-regular-size);
  color: var(--bg);
}
.inputs {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.propertyDetails1 {
  position: relative;
  font-size: var(--desktop-h4-size);
  line-height: 32px;
  font-family: var(--desktop-text-regular);
  color: var(--text);
  text-align: left;
}
.input1Big3,
.input1Big4 {
  height: 52px;
  width: 280px;
  font-family: var(--font-avertacy-regular);
  font-size: var(--desktop-text-regular-size);
  color: var(--bg);
}
.inputs1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.input1Big5 {
  align-self: stretch;
  height: 52px;
  font-family: var(--font-avertacy-regular);
  font-size: var(--desktop-text-regular-size);
  color: var(--bg);
}
.form1,
.propertyDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.propertyDetails {
  align-self: stretch;
  gap: var(--gap-base);
}
.form1 {
  width: 580px;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.button1Big {
  width: 137px;
  height: 48px;
}
.form,
.main {
  flex-direction: column;
  justify-content: flex-start;
}
.main {
  margin: 0;
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.form {
  flex: 1;
  box-shadow: var(--cards);
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-100);
  align-items: flex-start;
  padding: var(--padding-13xl) var(--padding-xl);
  z-index: 1;
}
.form,
.formWrapper,
.menuParent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.formWrapper {
  width: 810px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-61xl);
}
.menuParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-105xl);
  gap: var(--gap-41xl);
}
@media screen and (max-width: 1050px) {
  .formWrapper {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .menuParent {
    padding-bottom: var(--padding-62xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .menu2 {
    display: none;
  }
  .menu1 {
    width: 939px;
  }
  .menu {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .earnMoreFrom {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .inputs1 {
    flex-wrap: wrap;
  }
  .main {
    gap: var(--gap-base);
  }
  .form,
  .menuParent {
    box-sizing: border-box;
  }
  .form {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
  }
  .menuParent {
    gap: var(--gap-11xl);
    padding-bottom: var(--padding-34xl);
  }
}
@media screen and (max-width: 450px) {
  .menu2 {
    gap: var(--gap-lgi);
  }
  .earnMoreFrom {
    font-size: var(--font-size-12xl);
    line-height: 36px;
  }
  .propertyDetails1 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
}
