.evafacebookfillevatwitterfille {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 50%;
  background-color: var(--text);
  z-index: 2;
}
.evapeopleFillIcon {
  height: 80px;
  width: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.evafacebookfillevatwitterfilleParent {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.outputProcessorInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-141xl);
}
.letsChat {
  margin: 0;
  width: 462px;
  position: relative;
  font-size: inherit;
  line-height: 44px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.letsChatWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.euismodCommodoFeugiat {
  width: 462px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.euismodCommodoFeugiatPurusWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.evaeyeFillIcon {
  height: 80px;
  width: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameChild {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 50%;
  background-color: var(--text);
  z-index: 2;
}
.evaeyeFillParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.evaeyeFillParent {
  width: 160px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper {
  align-self: stretch;
  justify-content: flex-end;
}
.propertyViewing,
.sitLectusParturient {
  width: 462px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.propertyViewing {
  margin: 0;
  font-size: inherit;
  line-height: 44px;
  font-weight: 700;
  font-family: inherit;
}
.sitLectusParturient {
  font-size: var(--desktop-text-regular-size);
  line-height: 20px;
}
.frameGroup,
.frameParent,
.outputProcessor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 542px;
  gap: var(--gap-xs);
  text-align: right;
  font-size: var(--desktop-h3-size);
}
.frameParent,
.outputProcessor {
  align-self: stretch;
  gap: var(--gap-xl);
  font-size: var(--desktop-text-regular-size);
}
.outputProcessor {
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--desktop-h3-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 750px) {
  .letsChat,
  .propertyViewing {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .outputProcessorInner {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .letsChat,
  .propertyViewing {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
}
