.frameChild {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 50%;
  background-color: var(--text);
  z-index: 2;
}
.evapantoneFillIcon {
  height: 80px;
  width: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.ellipseParent {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.timeToDecorate {
  margin: 0;
  width: 462px;
  position: relative;
  font-size: inherit;
  line-height: 44px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.timeToDecorateWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.adipiscingMagnaUt {
  width: 462px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.magnisCongueNequeSociis {
  height: 1285px;
  width: 1px;
  position: absolute;
  margin: 0 !important;
  top: -868px;
  left: 10px;
  border-right: 1px solid var(--text);
  box-sizing: border-box;
  z-index: 1;
}
.adipiscingMagnaUtJustoEtParent,
.frameParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.adipiscingMagnaUtJustoEtParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  font-size: var(--desktop-text-regular-size);
}
.frameParent {
  width: 542px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--desktop-h3-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 750px) {
  .timeToDecorate {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .timeToDecorate {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
}
