.icons,
.iconsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.icons {
  flex: 1;
  flex-wrap: wrap;
  padding: 0 var(--padding-51xl) 0 var(--padding-61xl);
  gap: var(--gap-11xl);
}
.iconsWrapper {
  align-self: stretch;
  padding: 0 0 var(--padding-61xl);
  text-align: center;
  font-size: var(--desktop-h3-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 750px) {
  .icons {
    gap: var(--gap-mini);
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
}
