.betterThanProperty {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 700;
  font-family: inherit;
}
.weWorkWith {
  margin: 0;
  white-space: pre-wrap;
}
.bookingManagerThat {
  margin: 0;
}
.weWorkWithContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 24px;
}
.features,
.titletext {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.features {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--desktop-h4-size);
}
.corporatePartnerships,
.corporatePartnershipsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.corporatePartnerships {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-61xl);
  gap: var(--gap-41xl);
}
.corporatePartnershipsWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-61xl);
  text-align: center;
  font-size: var(--desktop-h2-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 750px) {
  .betterThanProperty {
    font-size: var(--font-size-19xl);
    line-height: 43px;
  }
  .corporatePartnerships {
    gap: var(--gap-11xl);
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .corporatePartnershipsWrapper {
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .betterThanProperty {
    font-size: var(--font-size-10xl);
    line-height: 32px;
  }
  .corporatePartnerships {
    gap: var(--gap-mini);
  }
}
