.logoIcon {
  width: 130px;
  height: 58px;
  position: relative;
  object-fit: cover;
}
.contactNumber02033074477 {
  position: relative;
  line-height: 20px;
}
.evafacebookFillIcon,
.evalinkedinFillIcon,
.evatwitterFillIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.flexLiving {
  position: relative;
  line-height: 20px;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.iconsCopyright {
  flex-direction: column;
  gap: var(--gap-xl);
}
.iconsCopyright,
.iconsCopyrightWrapper,
.logoParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconsCopyrightWrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
}
.logoParent {
  flex-direction: column;
  gap: var(--gap-7xl);
  font-size: var(--desktop-text-regular-size);
}
.company {
  min-width: 76px;
}
.aboutUs,
.company,
.home,
.ourTeam {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.home {
  min-width: 48px;
  cursor: pointer;
}
.aboutUs,
.ourTeam {
  min-width: 72px;
}
.ourTeam {
  min-width: 75px;
}
.companyParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.guests {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 56px;
}
.blog {
  cursor: pointer;
}
.blog,
.career,
.faq {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 36px;
}
.career {
  min-width: 55px;
}
.guestsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.privacy {
  display: inline-block;
  min-width: 61px;
}
.privacy,
.privacyPolicy,
.termsOfService {
  position: relative;
  line-height: 24px;
}
.privacyPolicy {
  display: inline-block;
  min-width: 110px;
}
.frameGroup,
.privacyParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameGroup {
  width: 382px;
  flex-direction: row;
  gap: var(--gap-41xl);
  max-width: 100%;
}
.stayUpTo {
  display: inline-block;
  min-width: 121px;
}
.beTheFirst,
.stayUpTo {
  position: relative;
  line-height: 24px;
}
.inputEmailAddress {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 48px;
  font-family: var(--desktop-text-regular);
  font-size: var(--font-size-lg);
  color: var(--bg);
}
.beTheFirstToKnowAboutOurParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  gap: var(--gap-xl);
}
.buttonSubscribe {
  width: 158px;
  height: 48px;
}
.stayUpToDateParent {
  width: 394px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.frameParent,
.landlordsPageInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.landlordsPageInner {
  width: 1420px;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 1200px) {
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .landlordsPageInner {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frameGroup {
    flex-wrap: wrap;
    gap: var(--gap-11xl);
  }
}
