.integerMorbiSemper {
  position: relative;
  line-height: 32px;
}
.magnisCongueNeque {
  position: relative;
  font-size: var(--desktop-text-regular-size);
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: calc(100% - 46px);
}
.closeIcon {
  height: 24px;
  width: 26px;
  position: relative;
}
.question1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--desktop-h4-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 450px) {
  .integerMorbiSemper {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
}
